* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body {
    background: #dad2cf;
}

body, ul, li, p {
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}


main {
    padding: 30px;
}

main .titulo-page_C {
    font-size: 30px;
    padding: 20px 0;
}

main .estrutura {
    display: flex;
}

main section {
    flex: 1;

}
main aside {
    min-width: 400px;
    margin: 15px;
    margin-left: 50px;
}

table {
    width: 100%;
}

table thead tr th {
    text-align: left;
    padding: 20px 0;
    text-transform: uppercase;
    color: #7e7673;
}


tbody button {
    font-size: 20px;
    border: none;
    background: none;
    color: #000f1f;
}

tbody button:hover {
    color: #e7b623;
}

.produto {
    border-radius: 8px;
}
table {
    width: 100%;
    border-collapse: collapse; /* Remove o espaço entre as células da tabela */
}



.product {
    display: flex;
}

.imgProduto {
    border-radius: 8px;
}
.infoProduto{
    margin-left: 20px;
}
.nomeProduto {
    font-size: 20px;

}
.variacaoProduto {
    color: #7e7673;

}

tbody .produto td {
    border-bottom: 8px solid #dad2cf00; /* Adiciona uma borda inferior às células */
}

tbody .produto:last-child td {
    border-bottom: none; /* Remove a borda inferior das células do último elemento */
}


.maisoumenos {
    display: flex;
    
}

.maisoumenos button {
    padding: 0 2px;
    
}



/*-----------------*/


.boxCompras {
    padding: 9px;
    background-color: #00152be0;
    border-radius: 8px;
    border: 3px solid; 
    border-color: #e7b623;
    color: #dad2cf;
}

.infoCompra div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}


.FechaCompra {
    margin-top: 8px;
    padding: 8px 0;
    font-size: 20px;
    border: none;
    background: #00152be0;
    color: #e7b623;
    border-radius: 50px;
    width: 100%;
}
.FechaCompra:hover {
    background: #00152bbb;
}

.CUPOM {
    display: flex;
}


