* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #dad2cf;
}

body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: aliceblue;
}


/*###  BARRA DE PESQUISA   ###*/
/*###  BARRA DE PESQUISA   ###*/
/*###  BARRA DE PESQUISA   ###*/
/*###  BARRA DE PESQUISA   ###*/

.barra::placeholder {
    font-size: 20px; 
    color: gray; 
    opacity: 1; 
}

.box {
    background: #00152bc2;
    height: 40px;
    padding: 0px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.barra {
    border: none;
    background: #001327c2;
    outline: none;
    padding: 0;
    color: #ffffff;
    font-size: 20px;
    width: 400px;
    transition: 0.5s;
    padding-left: 20px;
}

.botao {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #001327c2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    color: #e7b623;
}

@media (max-width: 735px){
    .barra {
        padding: 0;
        color: #ffffff;
        font-size: 20px;
        width: 0px;
    }
    .box:hover > .barra {
        width: 100%;
        padding: 0 6px;
    }
    .box:hover > .barra {
        background: #001327c2;
    }
}

/*###  BARRA DE PESQUISA FIM   ###*/
/*###  BARRA DE PESQUISA FIM   ###*/
/*###  BARRA DE PESQUISA FIM   ###*/
/*###  BARRA DE PESQUISA FIM   ###*/


/*###  BARRA DE PESQUISA LISTA  ###*/
/*###  BARRA DE PESQUISA LISTA  ###*/
/*###  BARRA DE PESQUISA LISTA  ###*/
/*###  BARRA DE PESQUISA LISTA   ###*/


.box {
    position: relative; /* Para definir um contexto de posicionamento */
    /* Restante do seu CSS existente */
}

.box.active input{
    border-radius: 5px 5px 0 0;
}


.box .list{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
    position: absolute;
    top: calc(100% + 10px); /* Posiciona a lista abaixo da barra de pesquisa */
    left: 0; /* Alinha a lista com a esquerda da barra de pesquisa */
    width: 100%; /* Faz a largura da lista igual à largura da barra de pesquisa */
    /* Restante do seu CSS existente */
    background: #000f1f;
    border: 2px solid; 
    border-color: #e7b623; 
}

.box.active .list{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.list li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.box.active .list li{
    display: block;
    color: #ffffff;
}

.list li:hover{
    background: #000f1f;
}

.box .icon {
    position: absolute;
    display: flex;
    height: 40px;
    width: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 55px;
    font-size: 20px;
    color: #e7b623;
    cursor: pointer;
}


/*###  BARRA DE PESQUISA LISTA FIM   ###*/
/*###  BARRA DE PESQUISA LISTA FIM   ###*/
/*###  BARRA DE PESQUISA LISTA FIM   ###*/
/*###  BARRA DE PESQUISA LISTA FIM   ###*/


.header {
    background: #000f1f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 3px solid; 
    border-color: #e7b623; 
    height: 21vh;
    
}

.menu {
    display: flex;
}
.menu li{
    margin-left: 10px;
    align-items: center; /* Alinhar verticalmente */
}



.menu li a {
    display: flex;
    padding: 10px;
}

.logo {
    display: block;
    width: 100px; 
    height: 100px;
    background-image: url('/ZZ_Imagens/New\ Piskel.gif'); 
    background-size: contain; 
    background-repeat: no-repeat; 
}

nav li a:hover{
    background-color: #002838ea;
    border-radius: 4px;
}

/*###  BOTÃO MENU  ###*/
/*###  BOTÃO MENU  ###*/
/*###  BOTÃO MENU  ###*/
/*###  BOTÃO MENU  ###*/

.menu-re {
    display: none;
    cursor: pointer;
}


@media (max-width: 1225px){
   

    .menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 21vh;
        right: 0px;
        background: #000f1f;
        height: 0px;
        transition: 0.5s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;

    }
    #nav.active #menu{
        height: 79vh;
        visibility: visible;
        overflow-y: auto;
    }

    .menu a {
        padding: 1rem 0;
        margin: 5vh;
        border-bottom: 5px;
    }

    #btn-menu {
        display: flex;
        cursor: pointer;
        border: none;
        background: none;
    }
    #icon-menu {
        color: #e7b623;
        border-top: 3px solid;
        width: 32px;
    }
    #icon-menu::after, #icon-menu::before {
        content: '';
        display: block;
        width: 32px;
        height: 3px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #icon-menu {
        border-top-color: transparent;
    }
    #nav.active #icon-menu::before {
        transform: rotate(135deg);
    }
    #nav.active #icon-menu::after {
        transform: rotate(-135deg);
        top: -7px;
    }

}
/*###  BOTÃO MENU FIM  ###*/
/*###  BOTÃO MENU FIM  ###*/
/*###  BOTÃO MENU FIM  ###*/
/*###  BOTÃO MENU FIM  ###*/


.carinho-txt {
    display: flex;
    align-items: center; /* Centralizar verticalmente */
}

.iconC {
    color: #e7b623;
    width: 30px;
    height: 30px;
    margin-right: 5px; /* Ajustar a margem entre o ícone e o texto */
    margin-bottom: -3px; /* Mover o ícone um pouco para cima */
}


