* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #dad2cf;
}

body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: aliceblue;
}


/*###  BARRA DE PESQUISA   ###*/
/*###  BARRA DE PESQUISA   ###*/
/*###  BARRA DE PESQUISA   ###*/
/*###  BARRA DE PESQUISA   ###*/

.barra::placeholder {
    font-size: 20px; 

    color: gray; 
    opacity: 1; 
}

.box {
    background: #00152bc2;
    height: 40px;
    padding: 0px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.barra {
    border: none;
    background: #001327c2;
    outline: none;
    padding: 0;
    color: #ffffff;
    font-size: 20px;
    width: 400px;
    transition: 0.5s;
}

.botao {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #001327c2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
@media (max-width: 735px){
    .barra {
        padding: 0;
        color: #ffffff;
        font-size: 20px;
        width: 0px;
    }
    .box:hover > .barra {
        width: 100%;
        padding: 0 6px;
    }
    .box:hover > .barra {
        background: #001327c2;
    }
}

/*###  BARRA DE PESQUISA FIM   ###*/
/*###  BARRA DE PESQUISA FIM   ###*/
/*###  BARRA DE PESQUISA FIM   ###*/
/*###  BARRA DE PESQUISA FIM   ###*/


.header {
    background: #000f1f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 3px solid; 
    border-color: #e7b623; 
    height: 21vh;
    
}

.menu {
    display: flex;
}
.menu li{
    margin-left: 10px;
}
.menu li a {
    display: block;
    padding: 10px;
}

.logo {
    display: block;
    width: 100px; 
    height: 100px;
    background-image: url('/ZZ_Imagens/New\ Piskel.gif'); 
    background-size: contain; 
    background-repeat: no-repeat; 
}

nav li a:hover{
    background-color: #002838ea;
    border-radius: 4px;
}

.submenu {
    position: absolute;
    display: none;
    background-color: #000f1f;
    border: 3px solid;
    border-color: #e7b623;
    
}
.Smenu:hover .submenu {
    display: block;
    border: 3px solid;
    border-color: #e7b623;

}

/*###  BOTÃO MENU  ###*/
/*###  BOTÃO MENU  ###*/
/*###  BOTÃO MENU  ###*/
/*###  BOTÃO MENU  ###*/

.menu-re {
    display: none;
    cursor: pointer;
}


@media (max-width: 1225px){
   

    .menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 21vh;
        right: 0px;
        background: #000f1f;
        height: 0px;
        transition: 0.5s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;

    }
    #nav.active #menu{
        height: 79vh;
        visibility: visible;
        overflow-y: auto;
    }

    .menu a {
        padding: 1rem 0;
        margin: 5vh;
        border-bottom: 5px;
    }

    #btn-menu {
        display: flex;
        cursor: pointer;
        border: none;
        background: none;
    }
    #icon-menu {
        color: #e7b623;
        border-top: 3px solid;
        width: 32px;
    }
    #icon-menu::after, #icon-menu::before {
        content: '';
        display: block;
        width: 32px;
        height: 3px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #icon-menu {
        border-top-color: transparent;
    }
    #nav.active #icon-menu::before {
        transform: rotate(135deg);
    }
    #nav.active #icon-menu::after {
        transform: rotate(-135deg);
        top: -7px;
    }

}
/*###  BOTÃO MENU FIM  ###*/
/*###  BOTÃO MENU FIM  ###*/
/*###  BOTÃO MENU FIM  ###*/
/*###  BOTÃO MENU FIM  ###*/