* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #d3beb7;
}

body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.barra::placeholder {
    font-size: 20px; 

    color: gray; 
    opacity: 1; 
}

.box {
    background: #00152bc2;
    height: 40px;
    padding: 0px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra {
    border: none;
    background: #001327c2;
    outline: none;
    padding: 0;
    color: #ffffff;
    font-size: 20px;
    width: 500px;
    transition: 0.5s;
}

.botao {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #001327c2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
@media (max-width: 735px){
    .barra {
        padding: 0;
        color: #000f1f;
        font-size: 20px;
        width: 0px;
    }
    .box:hover > .barra {
        width: 100%;
        padding: 0 6px;
    }
    .box:hover > .barra {
        background: #ffffff;
    }
}


.header {
    background: #000f1f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 3px solid; 
    border-color: #b99936; 
    height: 25vh;
    
}

.menu {
    display: flex;
}
.menu li{
    margin-left: 10px;
}
.menu li a {
    display: block;
    padding: 10px;
}

.logo {
    display: block;
    width: 100px; 
    height: 100px;
    background-image: url('/ZZ_Imagens/New\ Piskel.gif'); 
    background-size: contain; 
    background-repeat: no-repeat; 
}

nav li a:hover{
    background-color: #b99936;
    border-radius: 4px;
}

.login {
    background-color: #b99936;
    border-radius: 4px;
}

.submenu {
    position: absolute;
    display: none;
    background-color: #000f1f;
}
.Smenu:hover .submenu {
    display: block;

}

.menu-re {
    display: none;
    cursor: pointer;
}
.menu-re div{
    width: 32px;
    height: 2px;
    background: #b99936;
    margin: 8px;

}
@media (max-width: 1225px){
    body {
        overflow-x: hidden;
    }
    .menu {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #000f1f;
        border-color: #b99936;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate(100%);
        transition: transform 0.3s ease-in;
    }
    .menu li {
        margin-left: 0;
        opacity: 0;

    }
    .menu-re {
        display: block;

    }

}

.menu.active {
    transform: translate(0);
}